<header>
  <div class="container">
    <div class="col-6">
      <span routerLink="/" class="title">NodeJumper</span>
    </div>
    <div class="col-6" style="text-align: right">
<!--      <a class="btn btn-block btn-social btn-twitter shadow-none" href="https://twitter.com/hdmiimdh" target="_blank">-->
<!--        <span class="fa fa-twitter"></span>-->
<!--      </a>-->
      <a class="btn btn-block btn-social btn-github shadow-none" href="https://github.com/nodejumper-org/nodejumper" target="_blank">
        <span class="fa fa-github"></span>
      </a>
    </div>
  </div>
</header>
