<header>
  <div class="container">
    <div class="col-6 logo" routerLink="/">
<!--      <img src="assets/img/logo.svg" alt="NodeJumper">-->
      <span class="title">NodeJumper</span>
    </div>
    <div class="col-6" style="text-align: right">
      <a class="btn btn-block btn-social btn-twitter shadow-none" href="https://twitter.com/nodejumper" target="_blank">
        <span class="fa-brands fa-twitter"></span>
      </a>
      <a class="btn btn-block btn-social btn-github shadow-none" href="https://github.com/nodejumper-org/nodejumper" target="_blank">
        <span class="fa-brands fa-github"></span>
      </a>
    </div>
  </div>
</header>
