/*Header styles*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #d0d7de;
  z-index: 100;
  background-color: white;
}

header .container {
  min-height: 70px;
  display: flex;
  align-items: center;
  max-width: 1012px;
}

header .container span {
  font-size: 24px;
  letter-spacing: 4px;
}

header .container button {
  outline: none !important;
}

header .container .title {
  cursor: pointer;
  outline: none;
}

header .container .btn-social {
  padding-right: 0;
}

header .container .btn-social span {
  font-size: 30px;
}
