header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #d0d7de;
  z-index: 100;
  background-color: white;
}

header .container {
  min-height: 70px;
  display: flex;
  align-items: center;
  max-width: var(--max-width);;
}

header .container span {
  font-size: 24px;
  letter-spacing: 4px;
}

header .container button {
  outline: none !important;
}

header .container .logo {
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

header .container img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

header .container .btn-social {
  padding-right: 0;
}

header .container .btn-social span {
  font-size: 30px;
}

header .container .btn-social span:hover {
  cursor: pointer;
  opacity: 0.8;
}
