<header>
  <div class="container">
    <div class="logo" routerLink="/" (click)="stateService.chainType.next('all')">
      <img class="logo-image" src="assets/img/logo.svg" alt="NodeJumper">
      <p class="title">NodeJumper</p>
    </div>
    <div>
      <a class="btn btn-block btn-social btn-twitter shadow-none" href="https://twitter.com/nodejumper" target="_blank">
        <span class="social-icon fa-brands fa-twitter"></span>
      </a>
      <a class="btn btn-block btn-social btn-github shadow-none" href="https://github.com/nodejumper-org" target="_blank">
        <span class="social-icon fa-brands fa-github"></span>
      </a>
      <a class="btn btn-block btn-social btn-telegram shadow-none" href="https://t.me/nodejumper" target="_blank">
        <span class="social-icon fa-brands fa-telegram"></span>
      </a>
      <a class="btn btn-block btn-bars-menu shadow-none hide" id="btn-bars-menu" (click)="openLeftHandMenuForMobile()">
        <span class="burger-icon fa-solid fa-bars"></span>
      </a>
    </div>
  </div>
</header>
