<ng-container *ngIf="this.chainService.activeChain as chain">
  <div class="row"><span class="title"><b>1. RPC Server</b></span></div>
  <div class="row code">
    <pre><code class="language-bash">{{chain.rpcServer}}</code></pre>
  </div>
  <div class="row"><span class="title"><b>2. Peer</b></span></div>
  <div class="row code">
    <pre><code class="language-bash">{{chain.rpcPeer}}</code>
    </pre>
    <pre><code class="language-bash">peers="{{chain.rpcPeer}}"
sed -i -e "s/^persistent_peers *=.*/persistent_peers = \"$peers\"/" ~/{{chain.homeDirectoryName}}/config/config.toml</code>
    </pre>
  </div>
  <div class="row">
    <span class="title"><b>3. Snapshot</b></span>
    <span>(height: {{snapshotHeight | number: '2.'}}; size: {{snapshotSize}}; pruning: custom/100/0/10, indexer: null)</span>
  </div>
  <div class="row code">
    <pre>
      <code class="language-bash">#Install lz4, if needed
sudo apt update && sudo apt install snapd -y && sudo snap install lz4</code>
    </pre>
    <pre>
      <code class="language-bash">sudo systemctl stop {{chain.serviceName}} && {{chain.binaryName || chain.serviceName}} unsafe-reset-all

rm -rf ~/{{chain.homeDirectoryName}}/data && cd ~/{{chain.homeDirectoryName}}

SNAP_NAME=$(curl -s {{chain.snapshotServer}}/{{chain.id}}/ | egrep -o ">{{chain.chainId}}.*\.tar.lz4" | tr -d ">")
wget -O - {{chain.snapshotServer}}/{{chain.id}}/${{ '{' }}SNAP_NAME{{ '}' }} | lz4 -dc - | tar -xf -
sudo systemctl restart {{chain.serviceName}} && sudo journalctl -u {{chain.serviceName}} -f --no-hostname -o cat</code>
    </pre>
  </div>
  <div class="row"><span class="title"><b>4. State Sync</b></span></div>
  <div class="row code">
    <pre>
      <code class="language-bash">sudo systemctl stop {{chain.serviceName}} && {{chain.binaryName || chain.serviceName}} unsafe-reset-all

SNAP_RPC="{{chain.rpcServer}}"

LATEST_HEIGHT=$(curl -s $SNAP_RPC/block | jq -r .result.block.header.height); \
BLOCK_HEIGHT=$((LATEST_HEIGHT - 2000)); \
TRUST_HASH=$(curl -s "$SNAP_RPC/block?height=$BLOCK_HEIGHT" | jq -r .result.block_id.hash)

echo $LATEST_HEIGHT $BLOCK_HEIGHT $TRUST_HASH

peers="{{chain.rpcPeer}}"
sed -i -e "s/^persistent_peers *=.*/persistent_peers = \"$peers\"/" ~/{{chain.homeDirectoryName}}/config/config.toml

sed -i -E "s|^(enable[[:space:]]+=[[:space:]]+).*$|\1true| ; \
s|^(rpc_servers[[:space:]]+=[[:space:]]+).*$|\1\"$SNAP_RPC,$SNAP_RPC\"| ; \
s|^(trust_height[[:space:]]+=[[:space:]]+).*$|\1$BLOCK_HEIGHT| ; \
s|^(trust_hash[[:space:]]+=[[:space:]]+).*$|\1\"$TRUST_HASH\"|" ~/{{chain.homeDirectoryName}}/config/config.toml

sudo systemctl restart {{chain.serviceName}} && sudo journalctl -u {{chain.serviceName}} -f --no-hostname -o cat</code>
    </pre>
  </div>
</ng-container>
