<ng-container *ngIf="this.chainService.activeChain as chain">
  <div class="row" id="rpc">
    <p class="title">RPC Server</p>
    <pre><code class="language-bash">{{chain.rpcServer}}</code></pre>
  </div>
  <div class="row" id="peers">
    <div>
      <p class="title">Live Peers</p>
      <p class="snap-info">
        number of active peers: <strong>{{this.livePeers.length || 1}}</strong>
      </p>
    </div>
    <pre><code class="language-bash" id="peers-row">{{chain.rpcPeer}}</code></pre>
    <pre><code class="language-bash" id="update-peers-row">peers="{{chain.rpcPeer}}"
sed -i 's|^persistent_peers *=.*|persistent_peers = "'$peers'"|' $HOME/{{chain.homeDirectoryName}}/config/config.toml</code></pre>
  </div>
  <div class="row" *ngIf="!chain.snapshotDisabled" id="snapshot">
    <div>
      <p class="title">Snapshot</p>
      <p class="snap-info">
        height: <strong>{{snapshotData?.snapshotHeight || '' | number: '2.'}} {{snapshotData?.snapshotBlockTime ? ('(' + snapshotData?.snapshotBlockTime + ' ago)') : ''}}</strong>; size: <strong>{{snapshotData?.snapshotSize || ''}}</strong>; pruning: <strong>custom/100/0/10</strong>; indexer: <strong>null</strong>
      </p>
    </div>
    <pre><code class="language-bash"># install dependencies, if needed
sudo apt update
sudo apt install lz4 -y</code></pre>
    <pre><code class="language-bash">sudo systemctl stop {{chain.serviceName}}
{{this.chainService.getUnsafeResetAllString(chain)}}

cd $HOME/{{chain.homeDirectoryName}}
rm -rf data

SNAP_NAME=$(curl -s {{chain.snapshotServer}}/{{chain.id}}/ | egrep -o ">{{chain.chainId}}.*\.tar.lz4" | tr -d ">")
curl {{chain.snapshotServer}}/{{chain.id}}/${{ '{' }}SNAP_NAME{{ '}' }} | lz4 -dc - | tar -xf -

sudo systemctl restart {{chain.serviceName}}
sudo journalctl -u {{chain.serviceName}} -f --no-hostname -o cat</code></pre>
  </div>
  <div class="row code" *ngIf="!chain.stateSyncDisabled" id="state-sync">
    <p class="title">State Sync</p>
    <pre><code class="language-bash">sudo systemctl stop {{chain.serviceName}}
{{this.chainService.getUnsafeResetAllString(chain)}}

SNAP_RPC="{{chain.rpcServer}}:443"

LATEST_HEIGHT=$(curl -s $SNAP_RPC/block | jq -r .result.block.header.height); \
BLOCK_HEIGHT=$((LATEST_HEIGHT - 2000)); \
TRUST_HASH=$(curl -s "$SNAP_RPC/block?height=$BLOCK_HEIGHT" | jq -r .result.block_id.hash)

echo $LATEST_HEIGHT $BLOCK_HEIGHT $TRUST_HASH

peers="{{chain.rpcPeer}}"
sed -i 's|^persistent_peers *=.*|persistent_peers = "'$peers'"|' $HOME/{{chain.homeDirectoryName}}/config/config.toml

sed -i -E "s|^(enable[[:space:]]+=[[:space:]]+).*$|\1true| ; \
s|^(rpc_servers[[:space:]]+=[[:space:]]+).*$|\1\"$SNAP_RPC,$SNAP_RPC\"| ; \
s|^(trust_height[[:space:]]+=[[:space:]]+).*$|\1$BLOCK_HEIGHT| ; \
s|^(trust_hash[[:space:]]+=[[:space:]]+).*$|\1\"$TRUST_HASH\"|" $HOME/{{chain.homeDirectoryName}}/config/config.toml

sudo systemctl restart {{chain.serviceName}}
sudo journalctl -u {{chain.serviceName}} -f --no-hostname -o cat{{chain.stateSyncExtraStep}}</code></pre>
  </div>
</ng-container>
