.row {
  border-bottom: 1px solid var(--border-color);
  margin: 10px;
  z-index: 4;
}

.row.code {
  border-bottom: 0;
  margin-bottom: 40px;
  position: relative;
}

.row.code pre {
  text-align: left;
  white-space: pre-line;
  margin-bottom: 0;
  border-radius: 0.5rem;
  outline: none !important;
}

.row span {
  width: auto;
  padding-left: 0;
  padding-bottom: 2px;
}

.row .title {
  font-size: 16px;
}
