.shadow-pulse-circle {
  width: 13px;
  height: 13px;
  background: rgb(98, 189, 25);
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  animation: shadow-pulse 1s infinite;
}

.shadow-pulse-circle.inactive {
  background: gray;
  animation: none;
  cursor: pointer;
}
