.card {
  width: 250px;
  border: none;
  outline: 1px solid #d0d7de;
  border-radius: 0.75rem;
  background-color: white;
  position: fixed;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  z-index: 5;
}

.card .mobile-menu-header {
  display: none;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.card img {
  border-radius: 100%;
  margin-bottom: 20px;
  width: 82px;
  height: 82px;
}

.card .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card .details {
  font-size: 18px;
  color: var(--details-color);
}

.card .menu {
  padding-bottom: 0;
}

.card .menu-item {
  padding: 10px;
  width: 100%;
  border-left: 3px solid transparent;
  outline: none;
}

.card .menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card .menu-item.active {
  border-left: 3px solid #fd8c73;
}

.card .social {
  flex-direction: row;
  padding-bottom: 5px;
}

.card .social span {
  font-size: 24px;
  color: #212529;
  padding: 10px;
  opacity: 0.8;
}

.card .social span:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card .support-us {
  padding-top: 10px;
  padding-bottom: 0;
}

.card .support-us-btn {
  width: 250px;
  border-top: 1px solid #d0d7de;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.8;
  transition: all 0.3s ease;
  border-radius: 0 0 0.75rem 0.75rem;
}

.card .support-us-btn:hover {
  opacity: 0.6;
}

.card .support-us-btn:active {
  color: #000000;
  background-color: #fd8c73;
  opacity: 0.8;
}

.card .support-us-btn span {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .card {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 105;
    height: 100%;
    outline: none;
    border-radius: unset;
    transform: translateX(500px);
    transition: all ease 150ms;
  }

  .card .mobile-menu-header {
    display: flex;
    min-height: 70px;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    outline: 1px solid #d0d7de;
  }

  .card .mobile-menu-header img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .card .mobile-menu-header .title {
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .card .mobile-menu-header .fa-xmark {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 26px;
    cursor: pointer;
  }

  .card div {
    padding-top: 0;
  }

  .card .menu-item,
  .card .menu-item.active {
    border-left: none;
    text-align: center;
    border-bottom: 1px solid #d0d7de;
    padding: 25px 0;
  }

  .card .chain-logo,
  .card .social,
  .card .support-us {
    display: none;
  }
}

@media (max-height: 400px) {
  .card {
    position: absolute;
  }
}
