<div *ngIf="chain">
  <div class="card">
    <div>
      <img alt="{{chain.chainName}}" src="assets/img/chain/{{chain.id}}.png">
      <span class="title">{{chain.chainName}}</span>
      <span class="details">{{chain.chainId}}</span>
    </div>
    <div class="menu">
      <span [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./']" class="menu-item" routerLinkActive="active">Installation scripts</span>
      <span [routerLink]="['./sync']" class="menu-item" routerLinkActive="active">Synchronization scripts</span>
      <span [routerLink]="['./about']" class="menu-item" routerLinkActive="active">About</span>
    </div>
    <div class="social">
      <a *ngIf="chain.twitter" href="{{chain.twitter}}" target="_blank">
        <span class="fa-brands fa-twitter"></span>
      </a>
      <a *ngIf="chain.github" href="{{chain.github}}" target="_blank">
        <span class="fa-brands fa-github"></span>
      </a>
      <a *ngIf="chain.globe" href="{{chain.globe}}" target="_blank">
        <span class="fa fa-globe"></span>
      </a>
      <a *ngIf="chain.medium" href="{{chain.medium}}" target="_blank">
        <span class="fa-brands fa-medium"></span>
      </a>
      <a *ngIf="chain.discord" href="{{chain.discord}}" target="_blank">
        <span class="fa-brands fa-discord"></span>
      </a>
    </div>
  </div>
  <a *ngIf="chain.validatorUrl" class="support-us btn btn-block shadow-none" href="{{chain.validatorUrl}}" target="_blank">
    <span>Support Us</span>
  </a>
</div>
