.card {
  width: 250px;
  border: none;
  outline: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: white;
  position: fixed;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  z-index: 5;
  margin-top: 15px;
}

.mobile-menu-header {
  display: none;
}

.chain-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.chain-info .logo-image {
  border-radius: 100%;
  margin-bottom: 20px;
  width: 82px;
  height: 82px;
}

.chain-info .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.chain-info .details {
  font-size: 18px;
  color: var(--details-color);
}

.menu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.menu .menu-item {
  padding: 10px;
  width: 100%;
  border-left: 3px solid transparent;
  transition: all ease var(--animation-speed);
}

.menu .menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.menu .menu-item.active {
  border-left: 3px solid #fd8c73;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-social {
  font-size: 24px;
  color: #212529;
  padding: 10px;
  cursor: pointer;
  opacity: var(--icon-button-opacity);
  transition: opacity var(--animation-speed) ease;
}

.btn-social:hover {
  opacity: var(--icon-button-hover-opacity);
}

.btn-social:active {
  opacity: var(--icon-button-active-opacity);
}

.support-us {
  padding-top: 10px;
  padding-bottom: 0;
}

.support-us-btn {
  width: 250px;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  opacity: var(--icon-button-opacity);
  transition: opacity var(--animation-speed) ease;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.support-us-btn:hover {
  opacity: var(--icon-button-hover-opacity);
}

.support-us-btn:active {
  opacity: var(--icon-button-active-opacity);
}

.support-us-btn p {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .card {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 105;
    height: 100%;
    outline: none;
    border-radius: unset;
    transform: translateX(500px);
    transition: all ease var(--animation-speed);
  }

  .mobile-menu-header {
    display: flex;
    min-height: 70px;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--border-color);
    box-sizing: content-box;
  }

  .mobile-menu-header .logo-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .chain-info .title {
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .fa-xmark {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 26px;
    cursor: pointer;
  }

  .menu {
    padding-top: 0;
  }

  .menu .menu-item,
  .menu .menu-item.active {
    border-left: none;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    padding: 25px 0;
  }

  .chain-info,
  .social,
  .support-us {
    display: none;
  }
}

@media (max-height: 400px) {
  .card {
    position: absolute;
  }
}
