<ng-container *ngIf="this.chain">
  <div class="row">
    <p class="title">Parameters</p>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Binary</p>
        <input
          class="form-control rounded-pill input"
          placeholder="gaiad"
          [(ngModel)]="chain.binaryName"
          disabled
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Chain ID</p>
        <input
          class="form-control rounded-pill input"
          placeholder="cosmoshub-4"
          [(ngModel)]="chain.chainId"
          disabled
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Denom</p>
        <input
          class="form-control rounded-pill input"
          placeholder="uatom"
          [(ngModel)]="chain.denomName"
          disabled
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Key name</p>
        <input
          class="form-control rounded-pill input"
          placeholder="wallet"
          [(ngModel)]="chain.keyName"
          (blur)="saveParam('walletName')"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Gas prices, {{chain.denomName}}</p>
        <input
          class="form-control rounded-pill input"
          placeholder="0.1"
          [(ngModel)]="chain.gas"
          (blur)="saveParam('gas')"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <p class="title">Search</p>
    <div class="col col-12">
      <div class="search-field">
        <span class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input
          class="form-control shadow-none rounded-pill"
          placeholder="unjail validator"
          type="search"
          [(ngModel)]="searchText"
        />
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="hideForSearchArray([e1be173d, e196dfc8, b0ce1e71, d341457e, c29f311f2e09, d5dcf95a, c264be3d]) ? 'd-none' : ''" id="wallet">
    <p class="title">Key</p>
    <div class="command-container" [ngClass]="hideForSearch(e1be173d) ? 'd-none' : ''" #e1be173d>
      <p>Add New Key</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} keys add {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(e196dfc8) ? 'd-none' : ''" #e196dfc8>
      <p >Recover Existing Key</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} keys add {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --recover</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(b0ce1e71) ? 'd-none' : ''" #b0ce1e71>
      <p>List All Keys</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} keys list</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(d341457e) ? 'd-none' : ''" #d341457e>
      <p>Delete Key</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} keys delete {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(d5dcf95a) ? 'd-none' : ''" #d5dcf95a>
      <p>Export Key (save to {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}.backup)</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} keys export {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(c264be3d) ? 'd-none' : ''" #c264be3d>
      <p>Import Key</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} keys import {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}.backup</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(c29f311f2e09) ? 'd-none' : ''" #c29f311f2e09>
      <p>Query Wallet Balance</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} q bank balances $({{chain.binaryName}} keys show {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} -a)</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="hideForSearchArray([d7fadc2a1be2, ed60b0febaf3, dae767347223, dfc1c198b2fd, b24eae45eaa7, b5fc3c18, fac604ab]) ? 'd-none' : ''" id="validator">
    <p class="title">Validator</p>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Moniker</p>
        <input
          class="form-control rounded-pill input"
          placeholder="ex. NodeJumper"
          [(ngModel)]="chain.moniker"
          (blur)="saveParam('moniker')"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Identity</p>
        <input
          class="form-control rounded-pill input"
          placeholder="FFB0AA51A2DF5954"
          [(ngModel)]="chain.identity"
          (blur)="saveParam('identity')"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Details</p>
        <input
          class="form-control rounded-pill input"
          placeholder="I'm sexy and I know it 😉"
          [(ngModel)]="chain.details"
          (blur)="saveParam('details')"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Commission rate</p>
        <input
          class="form-control rounded-pill input"
          placeholder="0.10"
          [(ngModel)]="chain.commissionRate"
          (blur)="saveParam('commissionRate')"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Commission max rate</p>
        <input
          class="form-control rounded-pill input"
          placeholder="0.2"
          [(ngModel)]="chain.commissionMaxRate"
          (blur)="saveParam('commissionMaxRate')"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Commission max change rate</p>
        <input
          class="form-control rounded-pill input"
          placeholder="0.1"
          [(ngModel)]="chain.commissionMaxChangeRate"
          (blur)="saveParam('commissionMaxChangeRate')"
        />
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(d7fadc2a1be2) ? 'd-none' : ''" #d7fadc2a1be2>
      <p>Create New Validator</p>
      <div class="copy-button-container">
        <div class="command multiline">{{chain.binaryName}} tx staking create-validator \
--amount=1000000{{chain.denomName}} \
--pubkey=$({{chain.binaryName}} tendermint show-validator) \
--moniker="{{chain.moniker || '&lt;YOUR_MONIKER&gt;'}}" \
--identity={{chain.identity || '&lt;YOUR_IDENTITY&gt;'}} \
--details="{{chain.details || '&lt;YOUR_DETAILS&gt;'}}" \
--chain-id={{chain.chainId}} \
--commission-rate={{chain.commissionRate || '&lt;COMMISION_RATE&gt;'}} \
--commission-max-rate={{chain.commissionMaxRate || '&lt;COMMISION_MAX_RATE&gt;'}} \
--commission-max-change-rate={{chain.commissionMaxChangeRate || '&lt;COMMISION_MAX_CHANGE_RATE&gt;'}} \
--min-self-delegation=1 \
--from={{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} \
--gas-prices={{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} \
--gas-adjustment=1.2 \
--gas=auto \
-y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(ed60b0febaf3) ? 'd-none' : ''" #ed60b0febaf3>
      <p>Edit Existing Validator</p>
      <div class="copy-button-container">
        <div class="command multiline">{{chain.binaryName}} tx staking edit-validator \
--moniker="{{chain.moniker || '&lt;YOUR_MONIKER&gt;'}}" \
--identity={{chain.identity || '&lt;YOUR_IDENTITY&gt;'}} \
--details="{{chain.details || '&lt;YOUR_DETAILS&gt;'}}" \
--chain-id={{chain.chainId}} \
--commission-rate=0.1 \
--from={{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} \
--gas-prices={{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} \
--gas-adjustment=1.2 \
--gas=auto \
-y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(dae767347223) ? 'd-none' : ''" #dae767347223>
      <p>Unjail Validator</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx slashing unjail --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}
          --chain-id {{chain.chainId}} --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(dfc1c198b2fd) ? 'd-none' : ''" #dfc1c198b2fd>
      <p>Jail Reason</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} query slashing signing-info $({{chain.binaryName}} tendermint
          show-validator)
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(b24eae45eaa7) ? 'd-none' : ''" #b24eae45eaa7>
      <p>List All Active Validators</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} q staking validators -oj --limit=3000 | jq '.validators[] |
          select(.status=="BOND_STATUS_BONDED")' | jq -r '(.tokens|tonumber/pow(10; 6)|floor|tostring) + " \t " +
          .description.moniker' | sort -gr | nl
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(b5fc3c18) ? 'd-none' : ''" #b5fc3c18>
      <p>List All Inactive Validators</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} q staking validators -oj --limit=3000 | jq '.validators[] |
          select(.status=="BOND_STATUS_UNBONDED")' | jq -r '(.tokens|tonumber/pow(10; 6)|floor|tostring) + " \t " +
          .description.moniker' | sort -gr | nl
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(fac604ab) ? 'd-none' : ''" #fac604ab>
      <p>View Validator Details</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} q staking validator $({{chain.binaryName}} keys
          show {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --bech val -a)
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="hideForSearchArray([d82b6728, e1f574e6, be5e3609fee2, abe0cd09436e, db5f64c9e27e, d0f5f1aa46a0]) ? 'd-none' : ''" id="tokens">
    <p class="title">Tokens</p>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">To valoper address</p>
        <input
          class="form-control rounded-pill input"
          placeholder="validator operator address"
          [(ngModel)]="chain.toValoperAddress"
          (blur)="saveParam('toValoperAddress')"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">To wallet address</p>
        <input
          class="form-control rounded-pill input"
          placeholder="wallet address"
          [(ngModel)]="chain.toWalletAddress"
          (blur)="saveParam('toWalletAddress')"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Amount, {{chain.denomName}}</p>
        <input
          class="form-control rounded-pill input"
          placeholder="amount"
          [(ngModel)]="chain.amount"
          (blur)="saveParam('amount')"
        />
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(d82b6728) ? 'd-none' : ''" #d82b6728>
      <p>Withdraw Rewards From All Validators </p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx distribution withdraw-all-rewards --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}
          --chain-id {{chain.chainId}} --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(d0f5f1aa46a0) ? 'd-none' : ''" #d0f5f1aa46a0>
      <p>Withdraw Commission And Rewards From Your Validator</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx distribution withdraw-rewards $({{chain.binaryName}} keys show {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --bech val -a) --commission --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}
          --chain-id {{chain.chainId}} --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(e1f574e6) ? 'd-none' : ''" #e1f574e6>
      <p>Delegate</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx staking delegate $({{chain.binaryName}} keys show {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --bech val -a)
          {{chain.amount || '&lt;YOUR_AMOUNT&gt;'}}{{chain.denomName}} --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --chain-id {{chain.chainId}}
          --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(be5e3609fee2) ? 'd-none' : ''" #be5e3609fee2>
      <p>Redelegate</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx staking redelegate $({{chain.binaryName}} keys show {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --bech val -a) {{chain.toValoperAddress || '&lt;TO_VALOPER_ADDRESS&gt;'}}
          {{chain.amount || '&lt;YOUR_AMOUNT&gt;'}}{{chain.denomName}} --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --chain-id {{chain.chainId}}
          --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(abe0cd09436e) ? 'd-none' : ''" #abe0cd09436e>
      <p>Unbond</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx staking unbond $({{chain.binaryName}} keys show {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --bech val -a) {{chain.amount || '&lt;YOUR_AMOUNT&gt;'}}{{chain.denomName}}
          --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --chain-id {{chain.chainId}} --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(db5f64c9e27e) ? 'd-none' : ''" #db5f64c9e27e>
      <p>Send</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx bank send {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} {{chain.toWalletAddress || '&lt;TO_WALLET_ADDRESS&gt;'}}
          {{chain.amount || '&lt;YOUR_AMOUNT&gt;'}}{{chain.denomName}} --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}} --chain-id {{chain.chainId}}
          --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="hideForSearchArray([c8b19541, c01ee5ff, d31d502e, f4416a14, a3a86a7c]) ? 'd-none' : ''">
    <p class="title">Governance</p>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="param-container">
        <p class="label">Proposal id</p>
        <input
          class="form-control rounded-pill input"
          placeholder="proposal id"
          [(ngModel)]="chain.proposalId"
          (blur)="saveParam('proposalId')"
        />
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(c8b19541) ? 'd-none' : ''" #c8b19541>
      <p>List All Proposals</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} query gov proposals</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(c01ee5ff) ? 'd-none' : ''" #c01ee5ff>
      <p>View Proposal By ID</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} query gov proposal {{chain.proposalId || '&lt;PROPOSAL_ID&gt;'}}</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(d31d502e) ? 'd-none' : ''" #d31d502e>
      <p>Vote YES</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx gov vote {{chain.proposalId || '&lt;PROPOSAL_ID&gt;'}} yes --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}
          --chain-id {{chain.chainId}} --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(f4416a14) ? 'd-none' : ''" #f4416a14>
      <p>Vote NO</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx gov vote {{chain.proposalId || '&lt;PROPOSAL_ID&gt;'}} no --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}
          --chain-id {{chain.chainId}} --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(a3a86a7c) ? 'd-none' : ''" #a3a86a7c>
      <p>Vote ABSTAIN</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} tx gov vote {{chain.proposalId || '&lt;PROPOSAL_ID&gt;'}} abstain --from {{chain.keyName || '&lt;YOUR_KEY_NAME&gt;'}}
          --chain-id {{chain.chainId}} --gas-prices {{(chain.gas || '&lt;GAS&gt;') + chain.denomName}} --gas-adjustment 1.2 --gas auto -y
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
  </div >
  <div class="row" [ngClass]="hideForSearchArray([c2b141f8]) ? 'd-none' : ''" id="query">
    <p class="title">Query</p>
    <div class="command-container row multi-command-row" [ngClass]="hideForSearch(c2b141f8) ? 'd-none' : ''" #c2b141f8>
      <p>Query Transaction</p>
      <div class="command-container row m-0 p-0">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="param-container">
            <p class="label">Transaction Id</p>
            <input
              class="form-control rounded-pill input"
              placeholder="transaction id"
              [(ngModel)]="chain.txId"
              (blur)="saveParam('txId')"
            />
          </div>
        </div>
      </div>
      <div class="command-container">
        <div class="copy-button-container">
          <div class="command">{{chain.binaryName}} query tx {{chain.txId || '&lt;YOUR_TX_ID&gt;'}}</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="hideForSearchArray([e1d6879f96e7, d7c005a09058, c6c126c83420, c9fa81f310b6, b1623a67b5e0, afd45f16, a8dd6066, adf52944]) ? 'd-none' : ''" id="utility">
    <p class="title">Utility</p>
    <div class="command-container row multi-command-row" [ngClass]="hideForSearch(e1d6879f96e7) ? 'd-none' : ''" #e1d6879f96e7>
      <p>Change Default Ports</p>
      <div class="command-container">
        <div class="tabs-container">
          <div class="tab-button"
            *ngFor="let index of [0,1,2,3,4,5,6,7,8]"
            [ngClass]="chain.portIncrement == index ? 'active': ''"
            (click)="setPortIncrement(index)">
            {{index == 0 ? "Default" : index}}
          </div>
        </div>
      </div>
      <div class="command-container row m-0 p-0">
        <div class="col col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="param-container">
            <p class="label">gRPC</p>
            <input
              class="form-control rounded-pill input"
              value="{{9090 + this.chain.portIncrement * 100}}"
              disabled
            />
          </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="param-container">
            <p class="label">gRPC(web)</p>
            <input
              class="form-control rounded-pill input"
              value="{{9091 + this.chain.portIncrement * 100}}"
              disabled
            />
          </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="param-container">
            <p class="label">proxy_app</p>
            <input
              class="form-control rounded-pill input"
              value="{{26658 + this.chain.portIncrement * 1000}}"
              disabled
            />
          </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="param-container">
            <p class="label">laddr(rpc)</p>
            <input
              class="form-control rounded-pill input"
              value="{{26657 + this.chain.portIncrement * 1000}}"
              disabled
            />
          </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="param-container">
            <p class="label">pprof_laddr</p>
            <input
              class="form-control rounded-pill input"
              value="{{26656 + this.chain.portIncrement * 1000}}"
              disabled
            />
          </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="param-container">
            <p class="label">laddr(p2p)</p>
            <input
              class="form-control rounded-pill input"
              value="{{6060 + this.chain.portIncrement * 100}}"
              disabled
            />
          </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3 col-lg-2">
        <div class="param-container">
          <p class="label">prometheus</p>
          <input
            class="form-control rounded-pill input"
            value="{{26660 + this.chain.portIncrement * 1000}}"
            disabled
          />
        </div>
      </div>
      </div>
      <div class="command-container">
        <div class="copy-button-container">
          <div class="command">sed -i.bak -e "s%^proxy_app = \"tcp://127.0.0.1:26658\"%proxy_app = \"tcp://127.0.0.1:{{26658 + this.chain.portIncrement * 1000}}\"%; s%^laddr = \"tcp://127.0.0.1:26657\"%laddr = \"tcp://127.0.0.1:{{26657 + this.chain.portIncrement * 1000}}\"%; s%^pprof_laddr = \"localhost:6060\"%pprof_laddr = \"localhost:{{6060 + this.chain.portIncrement * 100}}\"%; s%^laddr = \"tcp://0.0.0.0:26656\"%laddr = \"tcp://0.0.0.0:{{26656 + this.chain.portIncrement * 1000}}\"%; s%^prometheus_listen_addr = \":26660\"%prometheus_listen_addr = \":{{26660 + this.chain.portIncrement * 1000}}\"%" $HOME/{{chain.homeDirectoryName}}/config/config.toml
            && sed -i.bak -e "s%^address = \"0.0.0.0:9090\"%address = \"0.0.0.0:{{9090 + this.chain.portIncrement * 100}}\"%; s%^address = \"0.0.0.0:9091\"%address = \"0.0.0.0:{{9091 + this.chain.portIncrement * 100}}\"%" $HOME/{{chain.homeDirectoryName}}/config/app.toml
            && sed -i.bak -e "s%^node = \"tcp://localhost:26657\"%node = \"tcp://localhost:{{26657 + this.chain.portIncrement * 1000}}\"%" $HOME/{{chain.homeDirectoryName}}/config/client.toml
          </div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(a8dd6066) ? 'd-none' : ''" #a8dd6066>
      <p>Update Indexer</p>
      <div class="command-container m-0">
        <div class="tabs-container col col-12 col-sm-12 col-md-6 col-lg-4">
          <div
            class="tab-button"
            *ngFor="let indexer of ['kv', 'null']"
            [ngClass]="chain.indexer === indexer ? 'active': ''"
            (click)="setIndexer(indexer)">
            {{indexer === 'kv' ? 'Default' : 'Null'}}
          </div>
        </div>
      </div>
      <div class="command-container">
        <div class="copy-button-container">
          <div class="command">sed -i 's|^indexer *=.*|indexer = "{{chain.indexer}}"|' $HOME/{{chain.homeDirectoryName}}/config/config.toml</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
    </div>
    <div class="command-container row multi-command-row" [ngClass]="hideForSearch(adf52944) ? 'd-none' : ''" #adf52944>
      <p>Update Pruning</p>
      <div class="command-container row m-0 p-0">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="param-container">
            <p class="label">Pruning</p>
            <input
              class="form-control rounded-pill input"
              placeholder="custom"
              [(ngModel)]="chain.pruning"
              (blur)="saveParam('pruning')"
            />
          </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="param-container">
            <p class="label">Pruning keep recent</p>
            <input
              class="form-control rounded-pill input"
              placeholder="100"
              [(ngModel)]="chain.pruningKeepRecent"
              (blur)="saveParam('pruningKeepRecent')"
            />
          </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="param-container">
            <p class="label">Pruning keep every</p>
            <input
              class="form-control rounded-pill input"
              placeholder="0"
              [(ngModel)]="chain.pruningKeepEvery"
              (blur)="saveParam('pruningKeepEvery')"
            />
          </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="param-container">
            <p class="label">Pruning interval</p>
            <input
              class="form-control rounded-pill input"
              placeholder="10"
              [(ngModel)]="chain.pruningInterval"
              (blur)="saveParam('pruningInterval')"
            />
          </div>
        </div>
      </div>
      <div class="command-container">
        <div class="copy-button-container">
          <div class="command">sed -i.bak -e 's|^pruning *=.*|pruning = "{{chain.pruning}}"|; s|^pruning-keep-recent *=.*|pruning-keep-recent = "{{chain.pruningKeepRecent}}"|; s|^pruning-keep-every *=.*|pruning-keep-every = "{{chain.pruningKeepEvery}}"|; s|^pruning-interval *=.*|pruning-interval = "{{chain.pruningInterval}}"|' $HOME/{{chain.homeDirectoryName}}/config/app.toml</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(d7c005a09058) ? 'd-none' : ''" #d7c005a09058>
      <p>Get Validator Info</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} status 2>&1 | jq .ValidatorInfo</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(c6c126c83420) ? 'd-none' : ''" #c6c126c83420>
      <p>Get Catching Up</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} status 2>&1 | jq .SyncInfo.catching_up</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(c9fa81f310b6) ? 'd-none' : ''" #c9fa81f310b6>
      <p>Get Latest Height</p>
      <div class="copy-button-container">
        <div class="command">{{chain.binaryName}} status 2>&1 | jq .SyncInfo.latest_block_height</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(b1623a67b5e0) ? 'd-none' : ''" #b1623a67b5e0>
      <p>Get Peer</p>
      <div class="copy-button-container">
        <div class="command">echo $({{chain.binaryName}} tendermint show-node-id)'@'$(curl -s ifconfig.me)':'$(cat
          $HOME/{{chain.homeDirectoryName}}/config/config.toml | sed -n '/Address to listen for incoming connection/&#123;n;p;&#125;'
          | sed 's/.*://; s/".*//')
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
    <div class="command-container" [ngClass]="hideForSearch(afd45f16) ? 'd-none' : ''" #afd45f16>
      <p>Remove Node</p>
      <div class="copy-button-container">
        <div class="command">sudo systemctl stop {{chain.serviceName}}
          && sudo systemctl disable {{chain.serviceName}}
          && sudo rm /etc/systemd/system/{{chain.serviceName}}.service
          && sudo systemctl daemon-reload
          && rm -rf $HOME/{{chain.homeDirectoryName}}
          {{chain.githubRepoName ? ('&& rm -rf $HOME/'+ chain.githubRepoName) : ''}}
          && rm $(which {{chain.binaryName}})
        </div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="hideForSearchArray([c567fd801308, d40c2241, a501dcbd, edfca8b94ee8, cd12abd1ae4f, ec99f4d7, c4cb953e, ddd2b2d6]) ? 'd-none' : ''" id="service">
      <p class="title">Service Management</p>
      <div class="command-container" [ngClass]="hideForSearch(c567fd801308) ? 'd-none' : ''" #c567fd801308>
        <p>Reload Services</p>
        <div class="copy-button-container">
          <div class="command">sudo systemctl daemon-reload</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
      <div class="command-container" [ngClass]="hideForSearch(d40c2241) ? 'd-none' : ''" #d40c2241>
        <p>Enable Service</p>
        <div class="copy-button-container">
          <div class="command">sudo systemctl enable {{chain.serviceName}}</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
      <div class="command-container" [ngClass]="hideForSearch(a501dcbd) ? 'd-none' : ''" #a501dcbd>
        <p>Disable Service</p>
        <div class="copy-button-container">
          <div class="command">sudo systemctl disable {{chain.serviceName}}</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
      <div class="command-container" [ngClass]="hideForSearch(edfca8b94ee8) ? 'd-none' : ''" #edfca8b94ee8>
        <p>Run Service</p>
        <div class="copy-button-container">
          <div class="command">sudo systemctl start {{chain.serviceName}}</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
      <div class="command-container" [ngClass]="hideForSearch(cd12abd1ae4f) ? 'd-none' : ''" #cd12abd1ae4f>
        <p>Stop Service</p>
        <div class="copy-button-container">
          <div class="command">sudo systemctl stop {{chain.serviceName}}</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
    <div class="command-container" [ngClass]="hideForSearch(ec99f4d7) ? 'd-none' : ''" #ec99f4d7>
      <p>Restart Service</p>
      <div class="copy-button-container">
        <div class="command">sudo systemctl restart {{chain.serviceName}}</div>
        <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
      </div>
    </div>
      <div class="command-container" [ngClass]="hideForSearch(c4cb953e) ? 'd-none' : ''" #c4cb953e>
        <p>Check Service Status</p>
        <div class="copy-button-container">
          <div class="command">sudo systemctl status {{chain.serviceName}}</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
      <div class="command-container" [ngClass]="hideForSearch(ddd2b2d6) ? 'd-none' : ''" #ddd2b2d6>
        <p>Check Service Logs</p>
        <div class="copy-button-container">
          <div class="command">sudo journalctl -u {{chain.serviceName}} -f --no-hostname -o cat</div>
          <button class="copy-button" type="button" (click)="handleCopyClick($event)">Copy</button>
        </div>
      </div>
  </div>

</ng-container>
