.card {
  height: 270px;
  border: 1px solid #d0d7de;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.card:hover {
  cursor: pointer !important;
  border-color: #111111 !important;
}

.card img {
  border-radius: 100%;
  margin-bottom: 20px;
  width: 82px;
  height: 82px;
}

.card .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card .details {
  font-size: 18px;
  color: var(--details-color);
}
