@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism.css";

@font-face {
  font-family: Monaco;
  src: url(src/assets/font/Monaco.woff) format("opentype");
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Monaco', sans-serif !important;
}

body p {
  margin-bottom: 0;
}

div.code-toolbar button {
  position: absolute;
  top: 12px;
  right: 5px;
  padding: 5px !important;
  background: white !important;
  color: black !important;
}

.ratio-tooltip {
  font-size: 16px !important;
  font-family: 'Monaco', sans-serif !important;
}

.tooltip-inner {
  max-width: 400px !important;
}

:root {
  --max-width: 1212px;
  --details-color: #57606a;
  --animation-speed: 200ms;

  /* button */
  --button-color: #e0e0e0;

  /* icon button */
  --icon-button-opacity: 0.9;
  --icon-button-hover-opacity: 0.7;
  --icon-button-active-opacity: 1;

  /* border */
  --border-color: #d0d7de;
  --border-active-color: #111111;
  --border-radius: 0.5rem;
}

@media (max-width: 576px) {
  body.left-hand-menu-open {
    overflow: hidden;
  }

  body.left-hand-menu-open .bg-opacity {
    opacity: 0.5;
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 101; /*z-index 105 is for hand menu for mobile, this one should be less*/
  }

  body.left-hand-menu-open .card {
    transform: translateX(0);
  }
}
