<div>
  <div class="row">
    <div class="col col-12 col-lg-6">
      <div class="search-field">
        <span class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input
          class="form-control shadow-none rounded-pill"
          placeholder="chain name"
          type="search"
          [(ngModel)]="searchQuery"
          (ngModelChange)="onSearchQueryChange($event)"
        />
      </div>
    </div>
    <div class="col col-12 col-sm-5 col-md-5 col-lg-4">
      <div class="tabs-container">
        <div
          class="tab-button"
          (click)="stateService.chainType.next('all')"
          [ngClass]="chainType == 'all' ? 'active': ''"
        >
          All
        </div>
        <div
          class="tab-button"
          (click)="stateService.chainType.next('mainnet')"
          [ngClass]="chainType == 'mainnet' ? 'active': ''"
        >
          Mainnet
        </div>
        <div
          class="tab-button"
          (click)="stateService.chainType.next('testnet')"
          [ngClass]="chainType == 'testnet' ? 'active': ''"
        >
          Testnet
        </div>
      </div>
    </div>
    <div class="col col-12 col-sm-7 col-md-7 col-lg-2">
      <div class="chains-count">{{mainnetChains.length + testnetChains.length + archiveChains.length}} chain(s)</div>
    </div>
  </div>
  <div class="row">
    <div class="title-container" *ngIf="mainnetChains.length">
      <p class="title">Mainnet</p>
    </div>
    <div class="chain-cards-container" *ngIf="mainnetChains.length">
      <div
        *ngFor="let chain of mainnetChains"
        [routerLink]="['/' + chain.id + (chain.summaryDisabled ? '/installation' : '')]"
        class="col col-12 col-sm-6 col-md-4 col-lg-3"
      >
        <app-chain-card [chain]="chain"></app-chain-card>
      </div>
    </div>
    <div class="title-container" *ngIf="testnetChains.length">
      <p class="title">Testnet</p>
    </div>
    <div class="chain-cards-container" *ngIf="testnetChains.length">
      <div
        *ngFor="let chain of testnetChains"
        [routerLink]="['/' + chain.id + (chain.summaryDisabled ? '/installation' : '')]"
        class="col col-12 col-sm-6 col-md-4 col-lg-3"
      >
        <app-chain-card [chain]="chain"></app-chain-card>
      </div>
    </div>
    <div class="title-container" *ngIf="archiveChains.length">
      <p class="title">Archive</p>
    </div>
    <div class="chain-cards-container" *ngIf="archiveChains.length">
      <div
        *ngFor="let chain of archiveChains"
        [routerLink]="['/' + chain.id + (chain.summaryDisabled ? '/installation' : '')]"
        class="col col-12 col-sm-6 col-md-4 col-lg-3"
      >
        <app-chain-card [chain]="chain"></app-chain-card>
      </div>
    </div>
    <div
      class="empty-result"
      *ngIf="mainnetChains.length === 0 && testnetChains.length === 0"
    >
      <p>Oops, we can't find any results.</p>
    </div>
  </div>
</div>
